<h1 style="text-align: center;"><b>Profile informations</b></h1>
<hr style="margin-bottom: 70px;">

<div class="content">
    <table>
        <tr>
            <td>First name: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.name'>
            </td>
        </tr>
        <tr>
            <td>Last name: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.lastName'>
            </td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.address'>
            </td>
        </tr>
        <tr>
            <td>City: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.city'>
            </td>
        </tr>
        <tr>
            <td>Country: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.country'>
            </td>
        </tr>
        <tr>
            <td>Phone number: </td>
            <td>
                <input type="text" [disabled] = "inputsDisabled" [(ngModel)] = 'loggedUser.phoneNumber'>
            </td>
        </tr>
    </table>
    <div>
        <button
            *ngIf = "inputsDisabled"
            tabindex="-1"
            class="userProfileButton"
            style="margin-top: 30px; margin-left: 50%;"
            mat-raised-button
            (click) = "inputsDisabled = false">Change</button>

        <button
            *ngIf = "!inputsDisabled"
            tabindex="-1"
            class="userProfileButton"
            mat-raised-button
            style="margin-top: 30px; margin-left: 50%;"
            (click) = "changeProfile()">Save</button>
    </div>
</div>
