@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");



   body{

    background-color: #eee;
    font-family: "Poppins", sans-serif

   }

.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}


.p-ratings i {
    color: #f6d151;
    font-size: 16px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 5px;
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #ff7676;
    color: #ff7676
}

.buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio input:checked+span {
    color: #fff;
    position: relative
}

.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}
 
  .horizontal-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateX(-50%);
  }

.demo {
    width:420px;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

body{
    background-color: #7B1FA2;
  }
  
.container{
    margin-top:10px !important;
    margin-bottom:100px !important;
    position: relative;
}

.greenButton {
    background-color: rgb(1, 167, 139) !important;
    border: rgb(1, 167, 139) !important;
    color: white !important;
    margin: 5px !important;
} 

.greenButton:focus {
    background-color: rgb(1, 167, 139) !important;
    border: rgb(1, 167, 139) !important;
    color: white !important;
}

.greenButton:hover{
    background-color: rgb(12, 218, 183) !important;
    border-color: rgb(1, 167, 139) !important;
    color: white !important;
    transform: scale(1.1);
}

.whiteButton {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(1, 167, 139) !important;
    color: rgb(1, 167, 139) !important;
    margin: 5px !important;
} 

.whiteButton:focus {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(1, 167, 139) !important;
    color: rgb(12, 218, 183) !important;
}

.whiteButton:hover {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(12, 218, 183) !important;
    color: rgb(12, 218, 183) !important;
    transform: scale(1.1);
}

.fa-image{
    color: rgb(1, 167, 139) !important;
}

.fa-calendar{
    color: rgb(1, 167, 139) !important;
}

.fa-pen
{
    color: rgb(1, 167, 139) !important;
}

.element {
    display: inline-block;
    width: 45% !important;
    height: 100%;
    margin-right: 5px;
}

input[type="file"] {
    display: none;
}