<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>

<body style="background-color: white; height: 100%;">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-7 container" style="margin-top: 0px !important;">
                <div class="card">
                    <div class="buttons">
                    </div>
                    <br>
                    <br>
                    <div class="about">
                        <table>
                            <tr>
                                <td>
                                    <span class="font-weight-bold" style="font-size: 30px;">{{cottage?.name}}</span>
                                </td>
                                <td style="padding-left: 10pt;">
                                    <p-toggleButton (click)="subscribeCottage()" [(ngModel)]="checkedCottage"
                                        onLabel="Follow" offLabel="Unfollow" onIcon="pi pi-check" offIcon="pi pi-times"
                                        [style]="{'width': '9em', 'background-color': 'red', 'height': '2em'}">
                                    </p-toggleButton>
                                </td>
                            </tr>
                        </table>
                        <span class="font-weight"
                            style="font-size: 20px; position: absolute; right: 10px;">Address:{{cottage?.address}}</span>
                    </div>
                    <div class="d-flex flex-row align-items-center" style="margin-top: 10px;">
                        <div class="p-ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="ml-1">5.0</span>
                    </div>
                    <br>
                    <div class="product-description" style="background-color: rgb(245, 245, 245); padding: 5px;">
                        <div>
                            <div>
                                <span class="font-weight-bold" style="font-size: 20px;">Description:</span>
                                <p>{{cottage?.promotiveDescription}}</p>
                            </div>
                            <hr>
                            <div>
                                <div class="element">
                                    <p style="margin-bottom: 0px; font-size: 16px;">Rooms:</p>
                                    <div style="margin-left: 10px;" *ngFor="let room of cottage.rooms">
                                        <p style="margin-bottom: 0px; font-size: 14px;">Room {{room.roomNumber}}:</p>
                                        <div class="bullets" style="margin-left: 10px;">
                                            <div class="d-flex align-items-center">
                                                <span class="dot"></span>
                                                <span class="bullet-text">Beds number: {{room.bedsNumber}}</span>
                                            </div>
                                        </div>
                                        <div class="bullets" style="margin-left: 10px;" *ngIf="room.bathroom">
                                            <div class="d-flex align-items-center">
                                                <span class="dot"></span>
                                                <span class="bullet-text">Bathroom</span>
                                            </div>
                                        </div>
                                        <div class="bullets" style="margin-left: 10px;" *ngIf="room.clime">
                                            <div class="d-flex align-items-center">
                                                <span class="dot"></span>
                                                <span class="bullet-text">Clime</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="element" style="vertical-align: top;">
                                    <span class="font-weight-bold" style="font-size: 18px;">Conduct rules:</span>
                                    <p>{{cottage?.conductRules}}</p>
                                    <span class="font-weight-bold" style="font-size: 18px;">Pricelist:</span>
                                    <p>{{cottage?.pricelist}}</p>
                                    <span class="font-weight-bold" style="font-size: 18px;">Cottage owner:</span>
                                    <table>
                                        <tr>
                                            <td>
                                                <p style="padding-top: 5pt; padding-right: 1em; font-size: 15pt;">{{cottageOwner?.name}} {{cottageOwner?.lastName}}</p>
                                            </td>
                                            <td>
                                                <p-toggleButton (click)="subscribeUser()"
                                                    [(ngModel)]="checkedCottageOwner" onLabel="Follow"
                                                    offLabel="Unfollow" onIcon="pi pi-check" offIcon="pi pi-times"
                                                    styleClass="p-button-sm"
                                                    [style]="{'width': '9em', 'background-color': 'red', 'height': '2em'}">
                                                </p-toggleButton>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>

</html>