<div>

    <table>
        <tr>
            <td><label>Old password:</label></td>
            <td><input type="text" [(ngModel)] = 'oldPassword'></td>
        </tr>
        <tr>
            <td><label>New password:</label></td>
            <td><input type="text" [(ngModel)] = 'newPassword'></td>
        </tr>
    </table>

    <button 
    mat-raised-button
    class="myButton"
    style="margin-left: 45%; margin-top: 20px; background-color: gray;"
    [mat-dialog-close]="newPassword"
    >Change</button>
</div>