.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 50px;
    width: 1000px;
}


th{
    width: 250px;
}

tr{
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 5px 5spx;
}

.styled-table thead tr {
    border-bottom: 2px solid #535353;
}

i {
    width: 50px;
}

.evenRow{
    background-color: rgb(223, 223, 223);
}