<div>
  <h1>Lessons</h1><br>
  <input type="text" placeholder="search..." (keyup) = "findLesson()" [(ngModel)] = "searchValue">
  <button mat-raised-button class="myButton" (click) = 'showAddLessonDialog()' style="margin-left: 75%;">Add</button>
</div>
<hr>
<div class="grid-container">    

    <div class="grid-item" *ngFor="let l of lessons">

      <app-instructor-one-lesson [lesson] = l
                                 (deleteButtonClicked)='onDeleteButtonClicked($event)'
                                 (lessonModifed)='onLessonModifed($event)'>

      </app-instructor-one-lesson>

    </div>

  </div>
