.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    padding-top: 10%;
  }
  
  .grid-item {
    font-size: 20px;
    width: 300px;
    min-height: 100px;
  }

  h1 {
      color: rgb(71, 127, 173);
      font-family: 'Raleway', sans-serif;
      font-size: 45px;
      font-weight: 250;
      line-height: 72px;
      margin: 0 0 24px;
      text-align: center;
      text-transform: uppercase;
}

input{
  border-radius: 5px;
  background-color: rgb(74, 141, 180);
  font-size: large;
  border: none;
  background-color: none;
  color: white;
  margin-left: 20px;
  width: 900px;
  margin-left: 100px;
  margin-right: 20px;
}

input::placeholder{
  color: rgb(199, 197, 197);
}

i{
  font-size: 20px;
}