<h1 style="text-align: center;"><b>Admin registration</b></h1>
<hr style="margin-bottom: 50px;">
<div class="content">
    <table>
        <tr>
            <td>First name: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.name">
            </td>
        </tr>
        <tr>
            <td>Last name: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.lastName">
            </td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.email">
            </td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.password">
            </td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.address">
            </td>
        </tr>
        <tr>
            <td>City: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.city">
            </td>
        </tr>
        <tr>
            <td>Country: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.country">
            </td>
        </tr>
        <tr>
            <td>Phone number: </td>
            <td>
                <input type="text" [(ngModel)] = "newAdmin.phoneNumber">
            </td>
        </tr>
    </table>
    <div>
        <button
            tabindex="-1"
            class="adminButton"
            style="margin-top: 20px; margin-left: 30%;"
            mat-raised-button
            (click) = 'registerAdmin()'>Register</button>
    </div>

</div>