<div class="content">

    <h2><b>Profile settings</b></h2>
    <hr>

    <button
     class="userSettingsButton"
    mat-raised-button
    style="margin-right: 13%;
           margin-top: 10%;
           background-color:rgb(185, 164, 164);"
           (click) = 'openChangePasswordDialog()'>Change password</button>

    <button
    class="userSettingsButton"
    mat-raised-button
    style="
        background-color:rgb(248, 133, 133);"
    (click) = 'openDeleteAccountDialog()'>Delete account</button>
</div>

