/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    background-color: white;
}

.myButton{
  background-color:rgb(71, 127, 173);
  width: 100px;
}

.adminButton{
  background-color:rgb(48, 48, 48);
  width: 100px;
}

.userProfileButton{
  background-color:rgb(68, 68, 68);
  width: 100px;
}

.userSettingsButton{
  width: 300px;
  height: 150px;
  font-size: x-large;
  color: black;
}

hr{
  border: 0;
  border-bottom: 2px solid rgb(197, 195, 195);
}