<div>

    <h1>Client informations</h1>
    <hr>
    <table>
        <tr>
            <td><b>Username:</b></td>
            <td class="content">{{client.email}}</td>
        </tr>
        <tr>
            <td><b>Full name:</b></td>
            <td class="content">{{client.name}} {{client.lastName}}</td>
        </tr>
        <tr>
            <td><b>Address:</b></td>
            <td class="content">{{client.address}}</td>
        </tr>
        <tr>
            <td><b>City:</b></td>
            <td class="content">{{client.city}}</td>
        </tr>
        <tr>
            <td><b>Country:</b></td>
            <td class="content">{{client.country}}</td>
        </tr>
        <tr>
            <td><b>Phone number:</b></td>
            <td class="content">{{client.phoneNumber}}</td>
        </tr>
    </table>
</div>>
