<div class="lesson">
    <h1>{{lesson.name}}</h1>
    <hr> 
    <table>
        <tr>
            <td>
                <i class="fas fa-map-marker-alt"></i>
            </td>
            <td>
                {{lesson.address}}
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-users"></i>
            </td>
            <td>
                {{lesson.maxCountOfParticipants}}
            </td>
        </tr>
    </table>
    

    <i
        class="fas fa-info"
        style="margin-left: 1%;"
        [routerLink] = "['/instructorLessons', lesson.id]"></i>

    <i 
        class="fas fa-trash"
        style="margin-left: 80%;"
        (click) = 'onDeleteButtonClick()'></i>
</div>
