.lesson{
    padding-top: 5%;
    background-color: rgb(5, 68, 104);
    box-shadow: 3px 3px rgb(189, 188, 188);
    text-align: center;
    border-radius: 10px;
}

h1{
    color: rgba(255, 255, 255, 0.699);
    font-family: 'Raleway', sans-serif;
}

i{
    margin-top: 15%;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

tr{
    color: rgba(255, 255, 255, 0.699);
    font-size: 15px;
    text-align: left;
    width: 100px;
}

table{
    margin-left: 20%;
}

hr{
    border-top: 1px;
}