*{
    color: black;
}

h1{
    text-align: center;
    color:rgb(5, 68, 104);
}

table{
    margin-top: 40px;
}

td{
    padding: 10px;
    font-size: medium;
}

.numInput{
    width: 50px;
}

#actionButton{
    color: white;
    margin-top: 50px;
    margin-left: 20%;
}

i{
    color: red;
}