<div class="row">
    <div 
    class="column" 
    style="background-color:rgb(1, 167, 139);" 
    (click) = "routeToRegistration()"
    routerLinkActive='active' 
    routerLink='/registration'>

      <p>Owners registration</p>

    </div>

    <div class="column" style="background-color:rgb(130, 102, 255);" (click) = "routeToInstructor()">

      <p>Instructor home page</p>

    </div>

    <div class="column" style="background-color:rgb(128, 116, 116);" (click) = "routeToAdmin()">

        <p>Administrator home page</p>
  
      </div>
  </div>