* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    cursor: pointer;
  }

  .row{
    height: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  p{
    text-align: center;
    font-size: x-large;
    color: white;
    margin-top: 60%;
  }