<i
 class="fas fa-arrow-left"
 style="font-size: 30px;
        cursor: pointer;
        margin-bottom: 30px;"
        (click) = "router.navigate(['instructor/instructorLessons'])"
 ></i>

<div class="grid-container">
    <div class="item1">

        <h2>Informations</h2>

        <table *ngIf = "lesson">
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" tabindex="-1" [(ngModel)] = "lesson.name" [disabled] = "lesson.reserved">
                </td>
            </tr>
            <tr>
                <td>Address: </td>
                <td>
                    <input type="text" tabindex="-1" [(ngModel)] = "lesson.address" [disabled] = "lesson.reserved">
                </td>
            </tr>
            <tr>
                <td>Promotional description: </td>
                <td>
                    <textarea tabindex="-1" [(ngModel)] = "lesson.promotionalDescription" [disabled] = "lesson.reserved"></textarea>
                </td>
            </tr>
            <tr>
                <td>Instructor biography: </td>
                <td>
                    <textarea [(ngModel)] = "lesson.instructorBiography" [disabled] = "lesson.reserved"></textarea>
                </td>
            </tr>
            <tr>
                <td>Max count of participants: </td>
                <td>
                    <input type="text" tabindex="-1" [(ngModel)] = "lesson.maxCountOfParticipants" [disabled] = "lesson.reserved">
                </td>
            </tr>
            <tr>
                <td>Rules of conduct: </td>
                <td>
                    <textarea type="text" tabindex="-1" [(ngModel)] = "lesson.rulesOfConduct" [disabled] = "lesson.reserved"></textarea>
                </td>
            </tr>
            <tr>
                <td>Default equipment: </td>
                <td>
                    <textarea type="text" tabindex="-1" [(ngModel)] = "lesson.defaultEquipment" [disabled] = "lesson.reserved"></textarea>
                </td>
            </tr>
            <tr>
                <td>Price list: </td>
                <td>
                    <input type="text" tabindex="-1" [(ngModel)] = "lesson.price" [disabled] = "lesson.reserved">
                </td>
            </tr>
            <tr>
                <td>Terms of use: </td>
                <td>
                    <textarea type="text" tabindex="-1" [(ngModel)] = "lesson.termsOfUse" [disabled] = "lesson.reserved"></textarea>
                </td>
            </tr>
        </table>

        <button
        [disabled] = "lesson.reserved"  
        mat-raised-button
        class="myButton"
        (click) = 'modifyLesson()'
        style="margin-left: 30%;"
        >Update</button>

    </div>


    <div class="item2">

        <h2>Additional services</h2>

        <i
        class="fas fa-search"
        style="font-size: medium;"
        ></i>

        <input
            type="text"
            style="margin-left: 10px;"
            (keyup) = 'findServices()'
            [(ngModel)] = 'searchValue'>


        <i
        *ngIf = "!lesson.reserved"
        class="fas fa-plus"
        style="font-size: medium;
               margin-left: 10%;
               cursor: pointer;"
        (click) = 'addAdditionalService()'
        ></i>

        <hr>
    
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor = "let service of additionalServices; let index = index" [ngClass]="{'evenRow': 0 !== index % 2}">
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.price}} <i class="fas fa-euro-sign"></i></td>
                    <td *ngIf = "!lesson.reserved"><i class="fas fa-trash" style="cursor: pointer;" (click) = 'deleteAdditionalService(service.id)'></i></td>
                </tr>
            </tbody>
        </table>
    
    </div>


    <div class="item3">
        <h2>Actions</h2>
        <i
        class="fas fa-search"
        style="font-size: medium;"
        ></i>

        <input type="text" style="margin-left: 10px;">
        <i
        class="fas fa-plus"
        style="font-size: medium;
               margin-left: 10%;
               cursor: pointer;"
        (click) = 'addAction()'       
        ></i>

        <hr>
    
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Duration (days)</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Additional services</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody *ngFor = "let action of actions">
                <tr>
                    <td style="width: 30px;">{{action.creationDate}}</td>
                    <td>{{action.duration}}</td>
                    <td style="width: 30px;">{{action.startTime}}</td>
                    <td style="width: 30px;">{{action.endTime}}</td>
                    <td>{{action.additionalServices}}</td>
                    <td>{{action.price}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>


<div class="images">
    <h2 style="display: inline;">Images</h2>
    <div class="addImage" style="float: right;" *ngIf = "!lesson.reserved">
        <label><i>add image</i></label>
        <label class="fas fa-upload" style="margin-left: 20px; font-size: 20px; cursor: pointer;">
            <input type="file" (change)="onImageUpload($event)">
        </label>
    </div>
    <div class="slider">
        <table>
            <tbody>
                <tr>
                    <td *ngFor = "let image of images;">
                        <div class="image-container">
                            <img src='assets/{{image.url}}' class="image">
                            <div class="overlay" *ngIf = "!lesson.reserved">
                                <a 
                                (click) = 'deleteImage(image)'
                                class="icon"
                                title="Delete image"
                                >
                                  <i
                                   class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



