/* ---------------------------------------------------------------
   ---------------------------------------------------------------
*/

.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }


.grid-container {
    display: grid;
    grid-template-areas:
    'menu main main main main main main'
    'menu right right right right right right';
    grid-gap: 50px;
    background-color: white;
    padding: 10px;
}

.grid-container > div{
    text-align: left;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

/* ---------------------------------------------------------------
   ---------------------------------------------------------------
*/

table td{
    color: black;
}

table{
    border-collapse: collapse;
    width: 100%;
}

input{
    width: 80%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #f2f2f2;
}

textarea{
    resize: none;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    font-size: 15px;
    border: 1px solid #f2f2f2;
}

/* ---------------------------------------------------------------
   ---------------------------------------------------------------
*/

.styled-table {
    border-collapse: collapse;
    font-family: sans-serif;
    width: 100%;
}


.styled-table thead tr {
    color: black;
    text-align: center;
}

.styled-table tbody tr {
    text-align: center;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #f2f2f2;
}

.evenRow{
    background-color: rgb(192, 217, 250);
}

/* ---------------------------------------------------------------
   ---------------------------------------------------------------
*/

h2 {
    color: rgb(5, 68, 104);
}

.image-container {
    position: relative;
    width: 380px;
}

.slider {
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
}

.image {
    display: block;
    width: 100%;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: gray;
}

.image-container:hover .overlay {
    opacity: 70%;
}

.icon {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.fa-user:hover {
    color: #eee;
}

.images{
    border: 2px solid #f2f2f2;
    margin-top: 80px;
    padding: 10px;
}


input[type="file"] {
    display: none;
}
