<h1><b>Statistics</b></h1>
<hr style="margin-bottom: 70px;">

<div>

    <input type="radio" id="graphics" value="graph" class="radio" name="stats" (click) = 'showGraphics()'>
    <label for="graphics">Reservation graphics</label>

    

    <input type="radio" id="graphics" value="graph" class="radio" name="stats" (click) = 'showSallary()'>
    <label for="graphics">Earnings in a certain period of time</label><br>

    <div class="graphics" *ngIf = "graphicsChecked">
        Grafici.
    </div>

    <div class="sallary" *ngIf = "sallaryChecked">

        <p id="s">From:</p>

        <input 
        type="datetime-local" 
        id="s" 
        class="s"
        [max]="todayDate"
        [(ngModel)] = "fromDate">

        <p id="s">To:</p>

        <input 
        type="datetime-local" 
        id="s" 
        class="s" 
        [max]="todayDate"
        [(ngModel)] = "toDate"> <br>

        <button 
        mat-raised-button 
        class="myButton" 
        id="button"
        (click) = "generateSallary()">Generate</button>

        <div class="message" *ngIf = "messageDisplayed">
            <p>Sallary in the selected period is: <b>{{generatedSallary}} </b> <i class="fas fa-euro-sign"></i></p>
            <hr>
        </div>

    </div>

</div>
