<h1><b>Statistics</b></h1>
<hr style="margin-bottom: 70px;">

<div>

    <input type="radio" id="graphics" value="graph" class="radio" name="stats" (click) = 'showGraphics()'>
    <label for="graphics">Reservation graphics</label>

    
    <input type="radio" id="earning" value="graph" class="radio" name="stats" (click) = 'showSallary()'>
    <label for="earning">Earnings in a certain period of time</label><br>

    <div class="graphics" *ngIf = "graphicsChecked">
        Grafici.
    </div>

    <app-user-sallary *ngIf = "sallaryChecked" 
    [generateButtonClass] = "buttonClass"
    [role] = "role"></app-user-sallary>

</div>
