<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span [ngStyle]="{color:'var(--red-500)'}"> Cottages </span>
            </ng-template>
            <div class="card">
                <p-table [value]="cottages">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rooms">Rooms<p-sortIcon field="rooms"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rating">Rating<p-sortIcon field="rating"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cottage>
                        <tr>
                            <td>{{cottage.name}}</td>
                            <td>{{cottage.address}}</td>
                            <td>10</td>
                            <td>5</td>
                            <td>rating</td>
                            <td>
                                <button (click)="goToCottageDetails(cottage.id)" pButton pRipple type="button" label="Details" class="p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <span [ngStyle]="{color:'var(--red-500)'}"> Ships </span>
            </ng-template>
            <div class="card">
                <p-table [value]="ships">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="capacity">Capacity<p-sortIcon field="capacity"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rating">Rating<p-sortIcon field="rating"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ship>
                        <tr>
                            <td>{{ship.name}}</td>
                            <td>{{ship.address}}</td>
                            <td>10</td>
                            <td>{{ship.capacity}}</td>
                            <td>rating</td>
                            <td>
                                <button (click)="goToShipDetails(ship.id)" pButton pRipple type="button" label="Details" class="p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <span [ngStyle]="{color:'var(--red-500)'}"> Adventures </span>
            </ng-template>
            <div class="card">
                <p-table [value]="reshapedAdventures">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="adventure.name">Name<p-sortIcon field="adventure.name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="adventure.address">Address<p-sortIcon field="adventure.address"></p-sortIcon>
                            </th>
                            <th pSortableColumn="adventure.price">Price<p-sortIcon field="adventure.price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rating">Rating<p-sortIcon field="rating"></p-sortIcon>
                            </th>
                            <th>Instructor</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-adventure>
                        <tr>
                            <td>{{adventure.adventure.name}}</td>
                            <td>{{adventure.adventure.address}}</td>
                            <td>{{adventure.adventure.price}}</td>
                            <td>rating</td>
                            <td>{{adventure.instructor.name}} {{adventure.instructor.lastName}}</td>
                            <td>
                                <button (click)="goToAdventureDetails(adventure.id)" pButton pRipple type="button" label="Details" class="p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>