<div>

    <button (click) = "changePasswordButtonClicked = true; deleteAccountButtonClicked = false">Change password</button>
    <button (click) = "deleteAccountButtonClicked = true; changePasswordButtonClicked = false">Delete account</button>

    <div *ngIf="changePasswordButtonClicked">
        <label>Current password:</label><br>
        <input type="text" [(ngModel)] = "oldPassword"><br>
        <label>New password:</label><br>
        <input type="text" [(ngModel)] = "newPassword"><br>
        <button (click) = "changePasword()">Change</button>
    </div>
    <div *ngIf="deleteAccountButtonClicked"><br>
        <label>Why do you want to delete your account?</label><br>
        <textarea [(ngModel)]="accountDeleteReason"></textarea><br>
        <button (click) = "deleteAccount()">Delete</button>
    </div>
</div>
