h1{
    text-align: center;
}

hr{
    margin-bottom: 70px;
}

.tableDiv{
    margin-left: 8%;
}

input{
    font-size: large;
    margin-right: 10px;
    width: 970px;
}

#searchIcon{
    font-size: large; 
    display: inline;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 50px;
    width: 1000px;
}


th{
    width: 333px;
}

tr{
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 5px 5spx;
}

.styled-table thead tr {
    border-bottom: 2px solid #535353;
}

i {
    width: 50px;
}

.evenRow{
    background-color: rgb(223, 223, 223);
}