.systemSallaryDiv{
    margin-left: 15%;
}

input{
    margin-left: 50px;
    width: 100px;
    text-align: center;
    font-size: large;
}

label{
    font-size: large;
}

button{
    margin-left: 50px;
}